-# includes html5shim is using IE less than IE9
-# Do not reformat following IE fix, identing script line will cause haml
-# error
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

